.tui-image-editor-container, .tui-image-editor-controls, .tui-image-editor-main-container  { 
	background-color: #545454 !important;
}

.tie-btn-delete, .tie-btn-delete-all, 
.tui-image-editor-icpartition, .tui-image-editor-header,
.tie-btn-undo, .tie-btn-redo, .tui-colorpicker-palette-hex,
div.tui-colorpicker-clearfix {
    display: none !important;
}
.tui-colorpicker-clearfix {
    display: flex;
    flex-wrap: wrap;
}

.tui-colorpicker-palette-button {
    width: 20px;
    height: 20px;
}

.editor {
    position: relative;
}
.editor__header {
    position: absolute;
    top: 30px;
    left: 20px;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    z-index: 99;
}
