.buttonGroup {
    background: #545454;
}

.buttonGroup__container {
    display: flex;
    width: 275px;
    margin: auto;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 18px;
}

.button-submit {
	cursor: pointer;
	padding: 9px 34px 13px; 
	background: #E021F0;
	border-radius: 100px;
	border-color: #E021F0;
	font-weight: bold;
	font-size: 20px;
	line-height: 24px;
	color: white;
	border-style: solid;
}

.button-submit:hover {
	background: #d20ae4;
	border-color: #d20ae4;
}

.button-submit:active {
	transform: translateY(1px);
}

.button-submit__icon {
	position: relative;
	top: 5px;
	left: 14px;
}

.button-cancel {
	cursor: pointer;
	font-weight: bold;
	font-size: 20px;
	color: #FFFFFF;
	background: #545454;
	border-color: #545454;
	border-style: solid;
}