.dropzone {
	position: relative;
	width: 102px;
	height: 102px;
	background: #545454;
	border-radius: 5px;
	cursor: pointer;
}


.dropzone:before {
	content: "";
	position: absolute;
	left: 50%;
	margin-left: -22.5px;
	top: 50%;
	margin-top: -3.5px;
	width: 45px;
	height: 7px;
	background: #ffffff;
	border-radius: 5px;
}

.dropzone:after {
	content: "";
	position: absolute;
	width: 45px;
	height: 7px;
	top: 50%;
	margin-top: -3.5px;
	left: 50%;
	margin-left: -22.5px;
	background: #ffffff;
	border-radius: 5px;
	transform: rotate(90deg);
}