.send {
    width: 105px;
	height: 40px;
	background:#E021F0;
	border-radius: 100px;
	border-color: #E021F0;
	font-weight: bold;
	font-size: 20px;
	line-height: 24px;
	color: white;
	border-style: solid;
	cursor: pointer;
}

.send:hover {
	background: #d20ae4;
	border-color: #d20ae4;
}

.send:active {
	transform: translateY(1px);
}

.send_disabled {
	width: 105px;
	height: 40px;
	border-radius: 100px;
	font-weight: bold;
	font-size: 20px;
	line-height: 24px;
	color: white;
	border-style: solid;
	background: #747475e3;
	border-color: #747475e3;
	pointer-events: none;
}


