.remove {
	position: absolute;
	left: 90px;
	width: 32px;
	height: 32px;
	background: #4a4a4a;
	border-radius: 20px;
}

.remove:before {
	position: absolute;
	content: "";
	width: 20px;
	height: 1.5px;
	top: 50%;
	left: 50%;
	margin: -0.75px 0 0 -10px;
	background: #ffffff;
	border-radius: 4px;
	transform: rotate(45deg);
}

.remove:after {
	position: absolute;
	content: "";
	width: 20px;
	height: 1.5px;
	top: 50%;
	left: 50%;
	margin: -0.75px 0 0 -10px;
	background: #ffffff;
	border-radius: 4px;
	transform: rotate(135deg);
}