body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.step_1 {
	display: flex;
	margin: auto;
	width: 375px;
	flex-direction: column;
	align-items: center;
}

.file-selection {
	position: relative;
	width: 102px;
	height: 102px;
	background: #545454;
	border-radius: 5px;
}

.file-selection:before {
	content: "";
	position: absolute;
	left: 50%;
	margin-left: -22.5px;
	top: 50%;
	margin-top: -3.5px;
	width: 45px;
	height: 7px;
	background: #ffffff;
	border-radius: 5px;
}

.file-selection:after {
	content: "";
	position: absolute;
	width: 45px;
	height: 7px;
	top: 50%;
	margin-top: -3.5px;
	left: 50%;
	margin-left: -22.5px;
	background: #ffffff;
	border-radius: 5px;
	transform: rotate(90deg);
}

.dashboard {
	display: flex;
	flex-wrap: wrap;
}

.previews {
	display: flex;
	max-width: 100%;
	flex-wrap: wrap;
}

.preview {
	display: inline-flex;
	position: relative;
	margin: 0 13px 8px 0;
	width: 100px;
	height: 100px;
	box-sizing: border-box;
}

.preview__thumb {
	display: flex;
	min-width: 0px;
	overflow: hidden;
	border: 1px solid #eaeaea;
	border-radius: 5px;
}
.preview__img {
	display: block;
	width: auto;
	height: 100%;
}

.remove {
	position: absolute;
	left: 90px;
	margin: -8px 0 0 -16px;
	width: 32px;
	height: 32px;
	background: #4a4a4a;
	border-radius: 20px;
}

.remove:before {
	position: absolute;
	content: "";
	width: 20px;
	height: 1.5px;
	top: 50%;
  left: 50%;
  margin: -0.75px 0 0 -10px;
	background: #ffffff;
	border-radius: 4px;
	transform: rotate(45deg);
}

.remove:after {
	position: absolute;
	content: "";
	width: 20px;
	height: 1.5px;
	top: 50%;
	left: 50%;
	margin: -0.75px 0 0 -10px;
	background: #ffffff;
	border-radius: 4px;
	transform: rotate(135deg);
}


/* .tui-image-editor-container { 
	height: 810px !important;
} */

.tie-btn-delete, .tie-btn-delete-all, .tui-image-editor-icpartition, .tui-image-editor-header-logo {
display: none !important;
}